<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travis's Advent of Code 2018</title>
    <meta name="description" content="Travis's Advent of Code 2018">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/63fa398b-4a9c-4f12-8922-d842304762ed%2Ffavicon.ico?1545031680286" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Travis's Advent of Code 2018
      </h1>
    </header>

    <main>
      <p>
        Source also in github repo: <a href="https://github.com/dieseltravis/aoc2018">dieseltravis/aoc2018</a>
      </p>
      <ol>
        <li><a href="day01">day 01</a></li>
        <li><a href="day02">day 02</a></li>
        <li><a href="day03">day 03</a></li>
        <li><a href="day04">day 04</a></li>
        <li><a href="day05">day 05</a></li>
        <li><a href="day06">day 06</a></li>
        <li><a href="day07">day 07</a> (part 2 broken)</li>
        <li><a href="day08">day 08</a></li>
        <li><a href="day09">day 09</a></li>
        <li><a href="day10">day 10</a></li>
        <li><a href="day11">day 11</a></li>
        <li><a href="day12">day 12</a> (part 2 hasn't finished running yet)</li>
        <li><a href="day13">day 13</a></li>
        <li><a href="day14">day 14</a></li>
        <li><a href="day15">day 15</a> (day 15 is bullshit)</li>
        <li><a href="day16">day 16</a></li>
        <li><a href="day17">day 17</a> (day 17 water flows all over hell)</li>
        <li><a href="day18">day 18</a> (part 2 hasn't finished running yet)</li>
        <li><a href="day19">day 19</a> (part 2 hasn't finished running yet)</li>
        <li><a href="day20">day 20</a> TODO:</li>
        <!-- <li><a href="day21">day 21</a></li>
        <li><a href="day22">day 22</a></li>
        <li><a href="day23">day 23</a></li>
        <li><a href="day24">day 24</a></li>
        <li><a href="day25">day 25</a></li>
        <li><a href="day26">day 26</a></li>
        <li><a href="day27">day 27</a></li>
        <li><a href="day28">day 28</a></li>
        <li><a href="day29">day 29</a></li>
        <li><a href="day30">day 30</a></li>
        <li><a href="day31">day 31</a></li> -->
      </ol>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
